# Dependencies
node_modules/
server/node_modules/
package-lock.json
server/package-lock.json

# Environment Variables
.env
.env.*
server/.env
server/.env.*
!.env.example
!server/.env.example

# Operating System Files
.DS_Store
Thumbs.db
desktop.ini

# IDE & Editors
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Temporary files
scratch/
tmp/
temp/
